[build]
builder = "nixpacks"

[deploy]
healthcheckPath = "/admin/"
healthcheckTimeout = 100
restartPolicyType = "on_failure"
restartPolicyMaxRetries = 10

[[services]]
name = "web"

[services.variables]
PYTHON_VERSION = "3.11"
DJANGO_SETTINGS_MODULE = "stationery_tracker.production_settings"
