{% load i18n admin_static %}<!DOCTYPE html>
<html lang="{{ LANGUAGE_CODE|default:'en-us' }}">
<head>
<title>{% block title %}{% endblock %} | {{ site_title|default:_('Django site admin') }}</title>
<link rel="stylesheet" type="text/css" href="{% static "admin/css/base.css" %}">
{% block extrastyle %}{% endblock %}
{% block extrahead %}{% endblock %}
</head>
{% load i18n %}

<body class="{% if is_popup %}popup {% endif %}{% block bodyclass %}{% endblock %}"
  data-admin-utc-offset="{% now 'Z' %}">

<!-- Container -->
<div id="container">

{% if not is_popup %}
<!-- Header -->
<div id="header">
    <div id="branding">
    <h1 id="site-name"><a href="{% url 'admin:index' %}">{{ site_header|default:_('Django administration') }}</a></h1>
    </div>
    {% block usertools %}
    {% if has_permission %}
        <div id="user-tools">
            {% block welcome-msg %}
                <strong>{% firstof user.get_short_name user.get_username %}</strong>.
            {% endblock %}
            {% block userlinks %}
                {% if site_url %}
                    <a href="{{ site_url }}">{% trans 'View site' %}</a> /
                {% endif %}
                {% if user.has_usable_password %}
                    <a href="{% url 'admin:password_change' %}">{% trans 'Change password' %}</a> /
                {% endif %}
                <a href="{% url 'admin:logout' %}">{% trans 'Log out' %}</a>
                {% endblock %}
        </div>
        {% endif %}
    {% endblock %}
</div>
{% endif %}

{% block nav-global %}{% endblock %}

<!-- Content -->
<div id="content" class="{% block coltype %}colM{% endblock %}">
    {% block breadcrumbs %}
    <div class="breadcrumbs">
    <a href="{% url 'admin:index' %}">{% trans 'Home' %}</a>
    &rsaquo; {% if title %}{{ title }}{% else %}{% trans 'Administration' %}{% endif %}
    </div>
    {% endblock %}
    {% block content %}{% endblock %}
</div>

<!-- END Content -->

{% block footer %}<div id="footer"></div>{% endblock %}
</div>
<!-- END Container -->

</body>
</html>
